@import "theme/_main";

// You can add additional styling here

.floatingHero.home {
  .feature-title {
    width: 800px;
    max-width: 90%;
    margin: auto;
  }
}

.home {
  section.splitBanner {
    max-width: $navbar-breakpoint;
  }
}

.boxHero .feature-content {
  border-radius: 8px 8px 0 0;
}